/* Faq End */

/* Scroll to top button */

.gotop {
  position: fixed;
  width: 50px;
  height: 50px;
  /* color: #2a2a72; */
  background: linear-gradient(315deg, #2a2a72 20%, #14227b 20%, #243fe9 60%);
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  bottom: 40px;
  right: 50px;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
}

@media (max-width: 769px) {
.gotop {
    right: 1.5rem;
  }
}

@media (max-width: 426px) {
.gotop {
    right: 1rem;
  }
}